.lt_contanier {
    padding: 10px;
}
.myform  input{
    font-size: 14px;
}
.myform .vcode input {
    width: 60%;
}

.myform .vcode button {
    width: 35%;
    height: 40px;
}
.myform .btn-register {
    width: 100%;
    height: 40px;

}
.myform .register_text {
    font-size: 12px;
    margin-top: 10px;
}
.myform .disabled {
    background-color: #999;
}